body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.input-box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 40%;
}

.input-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2ba359;
    font-family: "Mirza", serif;
  font-weight: 400;
  font-style: normal;
}

.input-box ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.input-box ul li {
    margin-bottom: 5px;
    color: #444444;
    font-family: "Moulpali", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.input-box strong {
    font-weight: bold;
    color: #444444;
}

.output-box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-box h2 {
    font-size: 1.5rem;
    color: #7a6616;
    margin-bottom: 20px;
    font-family: "Mirza", serif;
  font-weight: 400;
  font-style: normal;
}

.output-box h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    color:  #444444;
    font-family: "Moulpali", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.output-box .prediction {
    font-size: 2rem;
    text-transform: uppercase;
    color: #a5001ca1;
    margin-top: 10px;
}