<!DOCTYPE html>
<html>
<head>
    <title>Crop Predictor Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&family=Moulpali&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="/static/results.css">
</head>
<body>
    <div class="container">
        <div class="input-box">
            <h2>INPUT FEATURES</h2>
            <ul>
                <li>Nitrogen: <strong>{{ nitrogen }}</strong></li>
                <li>Phosphorus: <strong>{{ phosphorus }}</strong></li>
                <li>Potassium: <strong>{{ potash }}</strong></li>
                <li>Temperature: <strong>{{ temp }}</strong></li>
                <li>Humidity: <strong>{{ humid }}</strong></li>
                <li>pH: <strong>{{ ph }}</strong></li>
                <li>Rainfall: <strong>{{ rainfall }}</strong></li>
            </ul>
        </div>
        <div class="output-box">
            <div>
                <h2>PREDICTION</h2>
                <div>
                    <h3>Predicted crop is <strong class="prediction">{{ prediction[0] }}</strong></h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>